<%= link_to "Sala de Bate-Papo", root_path, class: "item" %>
<a class="item">
  Mensagens
</a>
<div class="right menu">
  <div class="ui dropdown item">
    Conta <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to "Entrar", login_path, class: "item" %>
      <a class="item">Sair</a>
      <a class="item">Cadastre-se</a>
    </div>
  </div>
  <div class="item">
    <div class="ui primary button">Cadastre-se</div>
  </div>
</div>