<div class="item">
  <%= link_to "Sala de Bate-Papo", root_path, class: "ui inverted purple button" %>
</div>

<div class="item">
  <a class="ui inverted purple button">Mensagens</a>
</div>

<div class="right menu">
  <div class="ui inverted purple dropdown item">
    Conta <i class="dropdown icon"></i>
    <div class="menu">
      <% if logged_in? %>
        <%= link_to "Sair", logout_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Entrar", login_path, class: "item" %>
      <% end %>
    </div>
  </div>
  <div class="item">
    <% unless logged_in? %>
      <%= link_to "Entrar", login_path, class: "ui purple button" %>
    <% end %>
  </div>
</div>